body
{
    max-width: 960px;
    margin: 50px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.img_product
{
    float: left;
    margin-right: 25px;
}
.info_product
{
    
    display: table;
    content: " ";
}
.padding_info_header>h4
{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.padding_info_header
{
    padding-bottom: 30px;
}
.monney
{
    font-size: 25px;
    color: red;
}
.padding_info_monney
{
    padding-bottom: 5px;
}
.padding_info_business
{
    padding-bottom: 35px;
}
.black_info
{
    color: black;
    font-weight: 500;
}
.padding_info_paragrap
{
    padding-bottom: 30px;
}
.black
{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.blue
{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.violet
{
    background-color: violet;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.gold
{
    background-color: gold;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.gray
{
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.smoke
{
    background-color: salmon;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.black_info_2
{
    color: black;
    font-weight: 500;
    float: left;
    clear: both;
    display: block;
    width: 70px;
}
.display_inline>div
{
    display: inline-block;
}
.padding_info_color
{
    padding-bottom: 10px;
}
.padding_info_size>ul
{
    list-style-type: none;
}
.padding_info_size>ul>li
{
    display: inline;
    padding-right: 12px;
}
.padding_info_size>ul>li>a:link
{
    color: black;
    text-decoration: none;
}
.black_info_3
{
    color: black;
    font-weight: 500;
    float: left;
    clear: both;
    display: block;
    width: 70px;
}
.padding_info_size
{
    padding-bottom: 10px;
}
.padding_info_card>.sl
{
    width: 150px;
    height: 30px;
}
.padding_info_card>.sm
{
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 100;
    width: 150px;
}
.padding_info_card
{
    padding-bottom: 20px;
}
.padding_info_share>a:link
{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-right: 34px;
}
.img
{
    transition: transform .2s;
}
.img:hover
{
    transform: scale(1.5);
}
