@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    max-width: 960px;
    height: auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 50px auto;
    padding: 0px;
}
.nav{background-color: black; list-style-type: none; padding-left: 0px;}
.nav > li {color: white;display: inline; padding-right: 30px; border-right: 2px solid white; padding-left: 30px; font-family: 'Montserrat', sans-serif; }
.paren
{
    position: relative;
}
.paren > .sub
{
    top: 27px;
    position: absolute;
}
.paren > .sub2
{
    top: 80px;
    left: 150px;
    position: absolute;
    display: none;
}
.paren > .sub3
{
    top: 80px;
    left: 300px;
    position: absolute;
    display: none;
}
.paren > .sub4
{
    top: 80px;
    left: 450px;
    position: absolute;
    display: none;
}
.sub2>li{
    list-style-type: none;
    text-align: center;
    color: whitesmoke;
}
.sub3>li{
    list-style-type: none;
    text-align: center;
    color: whitesmoke;
}
.sub4>li{
    list-style-type: none;
    text-align: center;
    color: whitesmoke;
}
.sub
{
    list-style-type: none;
    background-color:black;
    width: 590px;
    padding: 55px;
    display: none;

}
.sub>li
{
    color: whitesmoke;
    border-radius: 3px;
    padding: 12px;
}
.nav>li:hover>.sub {
    display: block;
    
}
.nav>li:hover>.sub2{
    display: block;
    
}
.nav>li:hover>.sub3{
    display: block;
    
}
.nav>li:hover>.sub4{
    display: block;
    
}
.sub>li:hover{
    background-color: white;
    color: black;
    width: 80px;
    
}
.submit
{
    background-color: white;
    color:  black;
    font-weight: bold;
    border:none;
    padding: 12px;
    border-radius: 7px;
   
}