.kl{background-color: rgb(250, 150, 0); padding-bottom: 21px; }
.col-6  {margin-top: 25px;}
.col-4{margin-top: 13px;}
.col-2{margin-top: 13px;}
.clogo{margin-top: 15px;}
.text2{font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 500px; text-align: center; width: 210px; } 
.money{color: peru; padding-left: 72px; font-weight: bold;}
.product{display: block;}
.space{margin-right: 60px;}
.space2{padding-left: 73px; color: rgb(214, 0, 0)}
.space3{padding-left: 50px;}
.product{ position: relative;width: 50%;}
.image{opacity: 1;display: block;height: auto;transition: .5s ease;backface-visibility: hidden;}
.middle { transition: .5s ease; opacity: 0;width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-align: center; }
.product:hover .image {opacity: 0.3;}
 .product:hover .middle {opacity: 1;}
.text { background-color: #4CAF50; color: white; font-size: 16px; padding: 16px 32px;}
.cc{background-color: rgb(250, 150, 0); padding-bottom: 35px;}
.cc1{background-color: rgb(255, 103, 0); padding-bottom: 45px; padding-top: 42px;}
.suadoi{margin-top: 24px;}
/* thanh phan can edit */
.suadoi2{margin-left: 90px;}
.input-group{ background-color: rgb(250, 150, 0);}


